:root {
    --main_color: #BEBEBE;
    --alternative_color: #292929;
    --text_color: #ffffff;
    --transition-color: #e0b046;
}

* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main_color);
}

h1, h2, section {
    color: var(--text_color);
    text-align: center;
}

h3 {
    margin-top: 200px;
}

button {
    background: none;
    outline: none;
    border: none;
    color: var(--text_color);
    padding: 0 .5rem;
}

button i {
    font-size: 70px;
}

button:hover i, a:hover {
    color: var(--transition-color);
    transition: .5s;
}

a {
    text-decoration: none;
    color: var(--text_color);
}

hr {
    border: none;
    height: 1rem;
}

label {
    flex-basis: 50%;
    margin-right: 2.5rem;
}

input,
textarea {
    flex-basis: 45%;
    background: none;
    border: none;
    border-right: 1px solid var(--text_color);
    border-bottom: 1px solid var(--text_color);
    color: #ffffff;
    resize: none;
}

textarea{
    width: 500px;
    height: 150px;
}

input:focus,
textarea:focus{
    outline: none;
}

footer {
    background-color: var(--alternative_color);
}

.title {
    flex-grow: 1;
    display: inline-block;
}

.menu {
    flex-grow: 2;
    position: relative;
    display: inline-block;
    align-items: center;
    right: 0;
}

.list-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 200px;
}

.logo {
    height: 150px;
    text-align: center;
    margin-top: 20px;
}

.fast-contact-options {
    color: var(--text_color);
    position: absolute;
    top: 0;
    right: 0;
}

.head {
    max-width: 100%;
    display: flex;
    background-color: var(--alternative_color);
    text-align: center;
}

.font-list-item {
    padding-right: 30px;
}

.img-slider {
    text-align: center;
}

.img-slider > img {
    height: 600px;
    display: inline-block;
    transition: opacity 0.5s ease;
}

.main-sections {
    text-align: center;
    display: flex;
    width: 100%;
    position: relative;
}

.main {
    text-align: center;
}

.about-us {
    height: 30rem;
    text-align: center;
    /* align-items: center; */
}

.contact {
    background-image: url("../img/contact.jpeg");
    display: inline-block;
}

.section-bg-settings {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-img {
    background: url("../img/about-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 50%;
}

.about-us-text {
    display: flex;
    flex-basis: 50%;
    background-color: var(--alternative_color);
    align-items: center;
}

.section {
    padding: 2rem 2rem;
    width: 100%;
}

.card-service {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

.card-service:hover{
    filter: blur(.5px);
    color: var(--transition-color);
    transition: .5s;
    font-size: 105%;
}

.service-1 {
    background-image: url("../img/service-1.jpeg");
    flex-basis: 25%;
}

.service-2 {
    background-image: url("../img/service-2.jpeg");
    flex-basis: 25%;
}

.service-3 {
    background-image: url("../img/service-3.jpeg");
    flex-basis: 25%;
}

.service-4 {
    background-image: url("../img/service-4.jpeg");
    flex-basis: 25%;
}

.contact-form {
    display: inline-block;
}

.form-group {
    display: flex;
}

.send {
    width: 5rem;
    height: 5rem;
    background-color: var(--main_color);
    border: none;
    border-radius: 12%;
    pointer-events: stroke;
    cursor: pointer;
}

.send:hover {
    width: 7rem;
    height: 7rem;
    transition: .5s;
    font-size: 1rem;
    background-color: var(--transition-color);
    color: var(--text_color);
}

.blog-section{
    text-align: center;
    align-items: center;
    max-width:100%;
}

.articulo-blog{
    display: flex;
    flex-basis: 33.3%;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    margin: 0 1rem;
}

.articulo-blog:first-child{
    background-image: url("../img/articulo-1.jpg");
}

.articulo-blog:nth-child(2){
    background-image: url("../img/articulo-2.jpg");
    }

.articulo-blog:nth-child(3){
    background-image: url("../img/articulo-3.jpg");
}

.articulo-blog:hover {
    filter: blur(.7px);
    transition: 1s;
    color: var(--transition-color);
}

.articulo-blog > a {
    margin: 0 auto;
}

.articulo-blog > a:hover {
    font-size: 110%;
    background-color: var(--alternative_color);
}

.ofice-section{ 
    max-width: 100%;
}

.ofice-section > iframe{
    margin: 0 auto;
}