:root {
    --main_color: #E4E0E1;
    --alternative_color: #091057;
    --text_color: #ffffff;
    --transition-color: #464343;
}

* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main_color);
}

h1, h2, section {
    color: var(--text_color);
    text-align: center;
}

h3 {
    margin-top: 200px;
}

button {
    background: none;
    outline: none;
    border: none;
    color: var(--text_color);
    padding: 0 .5rem;
}

button i {
    font-size: 70px;
}

button:hover i, a:hover {
    color: var(--transition-color);
}

a {
    text-decoration: none;
    color: var(--text_color);
}

hr {
    border: none;
    height: 1rem;
}

footer {
    background-color: var(--alternative_color);
}

.title {
    flex-grow: 1;
    display: inline-block;
}

.menu {
    flex-grow: 2;
    position: relative;
    display: inline-block;
    align-items: center;
    right: 0;
}

.list-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 200px;
}

.logo {
    height: 150px;
    text-align: center;
    margin-top: 20px;
}

.fast-contact-options {
    color: var(--text_color);
    position: absolute;
    top: 0;
    right: 0;
}

.head {
    display: flex;
    background-color: var(--alternative_color);
    text-align: center;
}

.font-list-item {
    padding-right: 30px;
}

.img-slider {
    text-align: center;
}

.img-slider > img {
    height: 600px;
    display: inline-block;
}

.main-sections {
    text-align: center;
    display: flex;
    width: 100%;
    position: relative;
}

.main {
    text-align: center;
}

.about-us {
    text-align: center;
}

.contact {
    background-image: url(../img/contacto_QUITAR\(es_un_meme_xd\).jpg);
}

.section-bg-settings {
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-img {
    width: 200px;
    flex-basis: 50%;
}

.about-us-text {
    flex-basis: 50%;
    align-items: center;
    padding-top: 15rem;
    background-color: var(--alternative_color);
}

.section {
    padding: 2rem 2rem;
    width: 100%;
}

.card-service {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

.service-1 {
    background-image: url("../img/service_1.jpg");
    flex-basis: 25%;
}

.service-2 {
    background-image: url("../img/service_2.jpg");
    flex-basis: 25%;
}

.service-3 {
    background-image: url("../img/service_3.png");
    flex-basis: 25%;
}

.service-4 {
    background-image: url("../img/service_4.jpg");
    flex-basis: 25%;
}